*{
    padding: 0;
    margin: 0;
    outline: 0;
    color: #fff;
    font-family: 'Roboto';
}

body{
    background-image: url(images/1080p.\ pexels-ekaterina-bolovtsova-6077326.jpg);
    background-size: cover;
    background-position: center;
    background-position: 0 -800px;
    height: 100vh;
    overflow: hidden;
}

.main-div{
    background-color: #2B2922;
    height: 45%;
}

nav img{
    width: 120px;
    position: absolute;
    left: 70px;
    top: 20px;
}

.nav-items{
    position: absolute;
    width: 40%;
    right: 240px;
    top: 30px;
  }

.nav-item{
    display: inline-block;
    margin: auto 30px;
    font-size: 18px;
    font-weight: 200;
    color: #c8c6bf;
}

.nav-item:hover{
    color: #fff;
    font-weight: bold;
}


.btn{
    width: 10%;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    color: #A08F36;
    font-weight: 500;
    position: absolute;
    right: 70px;
    top: 20px;
    border: 2px solid #A08F36;
    background-color: transparent;
}

.intro-section{
    background-color: orange;
    width: 100%;
}

h1{
    width: 40%;
    font-size: 80px;
    text-align: center;
    font-weight: 800;
    text-align: left;
    position: absolute;
    left: 120px;
    top: 100px;
    line-height: 90px;
}

p{
    position: absolute;
    right: 180px;
    top: 130px;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    color: rgb(202, 195, 195);
    width: 33%;
    text-align: left;
    line-height: 30px;
}

.footer{
    background-color: #2B2922;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
}

.ft-btn1{
    background-color: #39372D;
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 6%;
    right: 92px;
}
.ft-btn2{
    background-color: #A08F36;
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 6%;
    right: 0;
}
 .btn-1{
    width: 40px;
    border-radius: 50%;
    border: 2px solid #A08F36;
    height: 40px; 
    background-color: #39372D;
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.btn-1::after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: 2px solid #A08F36;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    position: absolute;
    left: 15px;
    top: 10px;
}

.btn-2{
    width: 40px;
    border-radius: 50%;
    height: 40px; 
    background-color: #A08F36;
    border: 2px solid #fff;
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.btn-2::after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
    position: absolute;
    left: 8px;
    top: 10px;
}